{% extends "WeeBundle::layout.html.twig" %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 style="margin-bottom: 40px">Sign in</h1>
        {% if error %}
          <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messageData, "security") }}
          </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form.username, { attr: { autofocus: "" } }) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit, { attr: { class: "btn btn-primary" } }) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
